.news-article {
  padding: 8px 16px;
}

.headline {
  font-size: 1.25em;
  font-weight: 700;
}

.description {
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  cursor: pointer;
  color: #ff6600;
  transition: color 0.2s ease-in-out;
}
