body {
  padding: 0 !important;
}

main {
  font-family: "Roboto", sans-serif;
  background: #292926;
  height: 100%;
  width: 100%;
}

.app-container {
  color: white;
  background-color: #31312f;
  width: 85%;
  margin: 0 auto;
  height: 100%;
}

.content {
  padding: 12px;
}
