<div class="page">
  <div class="navbar">
    <div class="navbar__items">
      <div class="item" style="text-align: left">
        <b>Teclead News</b>
      </div>
      <div class="item" style="text-align: center">
        <a href="newest">new</a> | <a href="front">past</a> |
        <a href="newcomments">comments</a> | <a href="ask">ask</a> |
        <a href="show">show</a> | <a href="jobs">jobs</a> |
        <a href="submit">submit</a>
      </div>
      <div class="item" style="text-align: right">
        <a href="login?goto=news">login</a>
      </div>
    </div>
  </div>
  <div>
    <app-news-article />
  </div>
</div>
